.header {
    max-width: auto;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: #151827;
}

.header h1 {
    margin: 0 auto 0 0;
    text-align: left;
    color: white;
    font-weight: normal;
}

.list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

@media only screen and (max-width: 600px) {
    .list {
        grid-template-columns: auto auto;
        row-gap: 2rem;
    }
}

.list a {
    text-decoration: none;
    border-radius: 6px;
    padding: .75rem 1rem;
    margin-top: 2rem;
}

.redbtn {
    background-color:#c60303;
    color: white;
}

.bluebtn {
    background-color:#047CC7;
    color: white;
}

.greenbtn {
    background-color:#04a73B;
    color: white;
}

.yellowbtn {
    background-color:#C7C404;
    color: black;
}

.active {
    border: solid 2px white;
}

.list a:hover, .list a:active {
    text-decoration: underline;
    font-weight: bold;
}